<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="css/donor.css">
</head>
<body>
    <header class="header">
        <div class="logo">Annapurna</div>
        <div class="header-contents">
            <a href="/" class="ahover ah1"><i class="fa-solid fa-house"></i>&nbsp;&nbsp; Home</a>
        </div>
    </header>

    <div class="first-page-donor">
        <h1 class="third-tit">Donation Details</h1>
        <div class="details">
            <form action="/donate" method="post">
                <table>
                    <tr>
                        <td><label for="hotel_name">Name of your Restaurant </label></td>
                        <td><input type="text" name="hotel_name" id="rest-name"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel_address">Address of your Restaurant </label></td>
                        <td><textarea name="hotel_address" id="rest-add"></textarea></td>
                    </tr>
                    <tr>
                        <td><label for="hotel_number">Contact Number </label></td>
                        <td><input type="text" name="hotel_number" id="rest-contact"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel_des">Description of Food</label></td>
                        <td><input type="text" name="hotel_des" id="rest-desc" placeholder="Enter name of food"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel_quantity">Serving Quantity</label></td>
                        <td><input type="number" name="hotel_quantity" id="rest-serve" min="1" placeholder="Select a number"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel_time">Closing Time of Restaurant </label></td>
                        <td><input type="time" name="hotel_time" id="rest-time"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel_site">Restaurant Website Link</label></td>
                        <td><input type="text" name="hotel_site" id="rest-site"></td>
                    </tr>
                </table>
                <button class="sub" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <script src="js/donor.js"></script>
</body>

</html>