<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="css/donor.css">
</head>

<body>
    <header class="header">
        <div class="logo">Annapurna</div>
        <div class="header-contents">
            <a href="/" class="ahover ah1"><i class="fa-solid fa-house"></i>&nbsp;&nbsp; Home</a>
        </div>
    </header>

    <div class="first-page-donor">
        <h1 class="third-tit">Donation Details</h1>
        <div class="details">
            <form action="" method="">
                <table>
                    <tr>
                        <td><label for="hotel-name">Name of your Restaurant </label></td>
                        <td><input type="text" name="" id="rest-name"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel-name">Address of your Restaurant </label></td>
                        <td><textarea name="" id="rest-add"></textarea></td>
                    </tr>
                    <tr>
                        <td><label for="hotel-name">Contact Number </label></td>
                        <td><input type="text" name="" id="rest-contact"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel-name">Description of Food</label></td>
                        <td><input type="text" name="" id="rest-desc" placeholder="Enter name of food"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel-name">Serving Quantity</label></td>
                        <td><input type="number" name="" id="rest-serve" min="1" placeholder="Select a number"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel-name">Closing Time of Restaurant </label></td>
                        <td><input type="time" name="" id="rest-time"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel-name">Restaurant Website Link</label></td>
                        <td><input type="text" name="" id="rest-site"></td>
                    </tr>
                </table>
            </form>
        </div>
        <button class="sub">Submit</button>
    </div>

    <script src="js/donor.js"></script>
</body>

</html>