<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="css/donor.css">
</head>
<body>
    <header class="header">
        <div class="logo">Annapurna</div>
        <div class="header-contents">
            <a href="/guidelines" class="ahover ah1"><i class="fa-solid fa-scroll"></i>&nbsp;&nbsp; Guidelines</a>
            <a href="/" class="ahover ah1"><i class="fa-solid fa-house"></i>&nbsp;&nbsp; Home</a>
        </div>
    </header>

    <div class="first-page-donor">
        <h1 class="third-tit">Donation Details</h1>
        <div class="details">
            <form action="/donate" method="post">
                <table>
                    <tr>
                        <td><label for="hotel_name">Name of your Restaurant </label></td>
                        <td><input type="text" name="hotel_name" id="rest-name" required="true"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel_address">Address of your Restaurant </label></td>
                        <td><textarea name="hotel_address" id="rest-add" required="true"></textarea></td>
                    </tr>
                    <tr>
                        <td><label for="hotel_number">Contact Number </label></td>
                        <td><input type="text" name="hotel_number" id="rest-contact" required="true" min="6000000000" max="9999999999"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel_des">Description of Food</label></td>
                        <td><input type="text" name="hotel_des" id="rest-desc" placeholder="Enter name of food" required="true"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel_quantity">Serving Quantity</label></td>
                        <td><input type="number" name="hotel_quantity" id="rest-serve" min="1" placeholder="Select a number" required="true"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel_time">Closing Time of Restaurant </label></td>
                        <td><input type="time" name="hotel_time" id="rest-time" required="true"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel_site">Restaurant Website Link</label></td>
                        <td><input type="url" name="hotel_site" id="rest-site" required="true"></td>
                    </tr>
                </table>
                <button class="sub" type="submit">Submit</button>
            </form>
        </div>
    </div>
    
    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script src="https://mediafiles.botpress.cloud/74c27236-3b14-45b0-9581-0bb30f2f63d9/webchat/config.js"
        defer></script>
</body>

</html>