<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guidelines</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="css/donor.css">
</head>

<body>
    <header class="header">
        <div class="logo">Annapurna</div>
        <div class="header-contents">
            <a href="/receive" class="ahover ah1"><i class="fa-solid fa-bell-concierge"></i>&nbsp;&nbsp; Restaurants Feed</a>
            <a href="/" class="ahover ah1"><i class="fa-solid fa-house"></i>&nbsp;&nbsp; Home</a>
        </div>
    </header>

    <div class="first-page-guidelines">
        <h2 class="quote"><span>Give</span> the energy you want to <span>receive</span></h2>

        <div class="donor-guide-main">
            <div class="drop-donor">For Donors<i class="fa-solid fa-circle-chevron-down"></i></div>
            <div class="hide-donor">
                <ul>
                    <li><i class="fa-solid fa-bowl-food"></i>Avoid donating food that is close to spoiling or has been left out for too long.</li>
                    <li><i class="fa-solid fa-bowl-food"></i>Properly package the food in clean, sealed containers to maintain its quality and prevent contamination.</li>
                    <li><i class="fa-solid fa-bowl-food"></i>Adhere to all local health and safety regulations regarding food donation.</li>
                    <li><i class="fa-solid fa-bowl-food"></i>Do not charge any money or bribe for food given to distribute.</li>
                    <li><i class="fa-solid fa-bowl-food"></i>The outer cover should be labeled as “Donated Food - Not for Resale.”</li>
                </ul>
            </div>
        </div>

        <div class="reciever-guide-main">
            <div class="receiver-drop">For Receivers<i class="fa-solid fa-circle-chevron-down"></i></div>
            <div class="receivers-hide">
                <ul>
                    <li><i class="fa-solid fa-bowl-food"></i>Inspect donated food for quality and safety.</li>
                    <li><i class="fa-solid fa-bowl-food"></i>Strictly use the food for the need of poor and not personal desires.</li>
                    <li><i class="fa-solid fa-bowl-food"></i>Communicate clearly with hotel staff about quantities, timing, and logistics.</li>
                    <li><i class="fa-solid fa-bowl-food"></i>Comply with legal requirements for food handling and distribution.</li>
                    <li><i class="fa-solid fa-bowl-food"></i>Avoid creating more wastage of food from the received one.</li>
                </ul>
            </div>
        </div>
        <p class="report-spam">(If any of the guidelines are violated, report the donor or receiver using the 'Report Fraud' option on the restaurants feed)</p>
    </div>

    <script src="js/guidelines.js"></script>
    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script src="https://mediafiles.botpress.cloud/74c27236-3b14-45b0-9581-0bb30f2f63d9/webchat/config.js"
        defer></script>
</body>

</html>