<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annapurna</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

    <header class="header">
        <div class="logo">Annapurna</div>
        <div class="header-contents">
            <a href="#home-page" class="ahover ah1">Home</a>
            <a href="#quotes-page" class="ahover ah2">2nd Page</a>
            <a href="#leaderboard" class="ahover ah3">Leaderboard</a>
            <a href="#about-us" class="ahover ah4">About Us</a>
        </div>
    </header>

    <div class="first-page" id="home-page">
        <img src="imgs/1.jpeg" alt="bg image" class="first-background">
        <div class="first-center">
            <h1 class="first-title">Annapurna</h1>
            <p class="first-sub">Does your hotel inevitably have surplus food after a busy day? Are you an NGO or
                volunteer ready for action? Partner with us to make
                a difference! Together, we can combat hunger and food waste while strengthening
                our community. Let's turn leftovers into lifelines –<br> one click is all it takes!</p>
            <div class="first-button">
                <a href="donate"><button class="fbut fone">Donate</button></a>
                <a href="receive"><button class="fbut ftwo">Receive</button></a>
            </div>
        </div>
    </div>

    <div class="second-page" id="quotes-page">
        <div class="second-left">
            <div class="stats">
                <div id="quote-container">
                    <div id="quote"></div>
                </div>
            </div>
        </div>
        <div class="second-right">
            <div class="pic-ctn">
                <img src="imgs/povg1.png" alt="" class="pic">
                <img src="imgs/povg2.png" alt="" class="pic">
                <img src="imgs/povg3.png" alt="" class="pic">
                <img src="imgs/povg4.png" alt="" class="pic">
                <img src="imgs/povg5.png" alt="" class="pic">
                <img src="imgs/povg1.png" alt="" class="pic">
            </div>
        </div>
    </div>

    <div class="third-page" id="leaderboard">
        <h1 class="third-tit"><i class="fa-regular fa-star"></i> Stars of the Week! <i class="fa-regular fa-star"></i>
        </h1>
        <div class="leader-cont">
            <div class="for-hotels">
                <h1 class="third-sub">Restaurants</h1>
                <div class="third-box"><i class="fa-solid fa-trophy tr1"></i>
                    <p class="third-p">ABCD</p>
                </div>
                <div class="third-box"><i class="fa-solid fa-trophy tr2"></i>
                    <p class="third-p">ABCD</p>
                </div>
                <div class="third-box"><i class="fa-solid fa-trophy tr3"></i>
                    <p class="third-p">ABCD</p>
                </div>
            </div>
            <div class="for-ngos">
                <h1 class="third-sub">NGOs</h1>
                <div class="third-box"><i class="fa-solid fa-trophy tr1"></i>
                    <p class="third-p">ABCD</p>
                </div>
                <div class="third-box"><i class="fa-solid fa-trophy tr2"></i>
                    <p class="third-p">ABCD</p>
                </div>
                <div class="third-box"><i class="fa-solid fa-trophy tr3"></i>
                    <p class="third-p">ABCD</p>
                </div>
            </div>
            <div class="for-volunteers">
                <h1 class="third-sub">Volunteers</h1>
                <div class="third-box"><i class="fa-solid fa-trophy tr1"></i>
                    <p class="third-p">ABCD</p>
                </div>
                <div class="third-box"><i class="fa-solid fa-trophy tr2"></i>
                    <p class="third-p">ABCD</p>
                </div>
                <div class="third-box"><i class="fa-solid fa-trophy tr3"></i>
                    <p class="third-p">ABCD</p>
                </div>
            </div>
        </div>
    </div>

    <div class="fourth-page" id="about-us">
        <div class="fourth-top">
            <div class="fourth-img">
                
            </div>
            <div class="fourth-content">
                <h1 class="fourth-title">About Us</h1>
                <h1 class="fourth-quote"><span>"Justice</span> begins when <span>inequality</span> ends"</h1>
                <p class="us-essay">
                    At Team Annapurna, we're fueled by a mission to combat food waste and nourish those in need. We act
                    as a bridge between hotels with surplus food and a network of dedicated NGOs and volunteers. Here's
                    how we make a difference:
                    <br><br>
                    Hotels, by their very nature, can generate significant food waste. We believe this perfectly good
                    food shouldn't go to landfill. Instead, we connect hotels with local NGOs actively serving
                    communities. This allows hotels to safely donate leftover meals to shelters, soup kitchens, and
                    other programs providing vital food assistance. Team Annapurna fosters a collaborative network of
                    volunteers who play a crucial role in the food rescue process. By partnering with us, hotels gain a
                    valuable tool for responsible waste management while enhancing their social responsibility profile.
                    NGOs receive a reliable source of nutritious meals, allowing them to focus their resources on other
                    vital services. Volunteers are empowered to make a real difference in the fight against hunger.
                    <br><br>
                    Team Annapurna is a growing movement dedicated to building a society where leftover food becomes a
                    lifeline for those in need. We invite hotels, NGOs, and passionate volunteers to join us. Together,
                    we can create a more sustainable and compassionate world, one rescued meal at a time.
                </p>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>

    <script src="js/home.js"></script>
</body>

</html>