<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="css/hotels.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="logo">Annapurna</div>
        <div class="header-contents">
            <a href="/" class="ahover ah1"><i class="fa-solid fa-house"></i>&nbsp;&nbsp; Home</a>
        </div>
    </header>
    
    <div class="list-mega">
        <h1 class="list-title"><i class="fa-regular fa-star"></i> Donors of the Day! <i class="fa-regular fa-star"></i></h1>
        <div class="hotels-list">
            <div class="hotel avail">
                <p class="hitem"><span class="h">Restaurant Name: </span>Lorem ipsum dolor sit amet.</p>
                <p class="hitem"><span class="h">Restaurant Address: </span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, itaque!.</p>
                <p class="hitem"><span class="h">Serving Quantity: </span>x</p>
                <p class="hitem"><span class="h">Contact Number: </span>xyzxyzxyzx</p>
                <p class="hitem"><span class="h">Wesbite Link: </span>google.com</p>
                <p class="hitem"><span class="h">Best Before: </span>zz:zzAM/PM</p>
                <button class="book-food" type="submit"><a href="receiver-info">Distribute</a></button>
            </div>

            <div class="hotel avail">
                <p class="hitem"><span class="h">Restaurant Name: </span>Lorem ipsum dolor sit amet.</p>
                <p class="hitem"><span class="h">Restaurant Address: </span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, itaque!.</p>
                <p class="hitem"><span class="h">Serving Quantity: </span>x</p>
                <p class="hitem"><span class="h">Contact Number: </span>xyzxyzxyzx</p>
                <p class="hitem"><span class="h">Wesbite Link: </span>google.com</p>
                <p class="hitem"><span class="h">Best Before: </span>zz:zzAM/PM</p>
                <button class="book-food" type="submit"><a href="receiver-info">Distribute</a></button>
            </div>

            <div class="hotel booked">
                <p class="hitem"><span class="h-b"><em>Booked From:</em></span></p>
                <p class="hitem"><span class="h-b">Restaurant Name: </span>Lorem ipsum dolor sit amet.</p>
                <p class="hitem"><span class="h-b">Contact Number: </span>xyzxyzxyzx</p><br>
                <p class="hitem"><span class="h-b"><em>Booked By:</em></span></p>
                <p class="hitem"><span class="h-b">NGO/Volunteer Name: </span>Lorem ipsum dolor sit amet.</p>
                <p class="hitem"><span class="h-b">NGO/Volunteer Number: </span>xyzxyzxyzx</p>
            </div>
        </div>

        <div class="hotels-list">
            <div class="hotel avail">
                <p class="hitem"><span class="h">Restaurant Name: </span>Lorem ipsum dolor sit amet.</p>
                <p class="hitem"><span class="h">Restaurant Address: </span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, itaque!.</p>
                <p class="hitem"><span class="h">Serving Quantity: </span>x</p>
                <p class="hitem"><span class="h">Contact Number: </span>xyzxyzxyzx</p>
                <p class="hitem"><span class="h">Wesbite Link: </span>google.com</p>
                <p class="hitem"><span class="h">Best Before: </span>zz:zzAM/PM</p>
                <button class="book-food" type="submit"><a href="receiver-info">Distribute</a></button>
            </div>

            <div class="hotel booked">
                <p class="hitem"><span class="h-b"><em>Booked From:</em></span></p>
                <p class="hitem"><span class="h-b">Restaurant Name: </span>Lorem ipsum dolor sit amet.</p>
                <p class="hitem"><span class="h-b">Contact Number: </span>xyzxyzxyzx</p><br>
                <p class="hitem"><span class="h-b"><em>Booked By:</em></span></p>
                <p class="hitem"><span class="h-b">NGO/Volunteer Name: </span>Lorem ipsum dolor sit amet.</p>
                <p class="hitem"><span class="h-b">NGO/Volunteer Number: </span>xyzxyzxyzx</p>
            </div>
            
            <div class="hotel avail">
                <p class="hitem"><span class="h">Restaurant Name: </span>Lorem ipsum dolor sit amet.</p>
                <p class="hitem"><span class="h">Restaurant Address: </span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, itaque!.</p>
                <p class="hitem"><span class="h">Serving Quantity: </span>x</p>
                <p class="hitem"><span class="h">Contact Number: </span>xyzxyzxyzx</p>
                <p class="hitem"><span class="h">Wesbite Link: </span>google.com</p>
                <button class="book-food" type="submit"><a href="receiver-info">Distribute</a></button>
            </div>
        </div>
    </div>
</body>
</html>