<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/css/donor.css">
</head>
<body>
    <header class="header">
        <div class="logo">Annapurna</div>
        <div class="header-contents">
            <a href="receive" class="ahover ah1"><i class="fa-solid fa-bell-concierge"></i>&nbsp;&nbsp; Other Restaurants</a>
            <a href="/" class="ahover ah1"><i class="fa-solid fa-house"></i>&nbsp;&nbsp; Home</a>
        </div>
    </header>

    <div class="first-page-donor">
        <h1 class="third-tit">Receiver Details</h1>
        <div class="details">
            <form action="/submit/<%= donorId %>" method="post">
                <table>
                    <tr>
                        <td><label for="ngoName">Name of NGO/Volunteer</label></td>
                        <td><input type="text" name="ngoName" id="rest-name"></td>
                        <td><label for="ngoName">Name of NGO/Volunteer</label></td>
                        <td><input type="text" name="ngoName" id="rest-name"></td>
                    </tr>
                    <tr>
                        <td><label for="ngoAddress">Address of NGO/Volunteer </label></td>
                        <td><textarea name="ngoAddress" id="rest-add"></textarea></td>
                        <td><label for="ngoAddress">Address of NGO/Volunteer </label></td>
                        <td><textarea name="ngoAddress" id="rest-add"></textarea></td>
                    </tr>
                    <tr>
                        <td><label for="hotel-name">Contact Number NGO/Volunteer</label></td>
                        <td><input type="text" name="ngoPhoneNumber" id="rest-contact"></td>
                        <td><input type="text" name="ngoPhoneNumber" id="rest-contact"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel-name">Expected Time of Pick-Up </label></td>
                        <td><input type="time" name="pickupTime" id="rest-time"></td>
                        <td><input type="time" name="pickupTime" id="rest-time"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel-name">Area of Food Distribution</label></td>
                        <td><input type="text" name="distributionArea" id="rest-area"></td>
                        <td><input type="text" name="distributionArea" id="rest-area"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel-name">Aadhaar Card Number</label></td>
                        <td><input type="text" name="aadharCard" id="rest-site"></td>
                        <td><input type="text" name="aadharCard" id="rest-site"></td>
                    </tr>
                </table>
                <button class="sub">Submit</button>
            </form>
        </div>
        
    </div>
</body>

</html>