<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receiver</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/css/donor.css">
</head>
<body>
    <header class="header">
        <div class="logo">Annapurna</div>
        <div class="header-contents">
            <a href="/guidelines" class="ahover ah1"><i class="fa-solid fa-scroll"></i>&nbsp;&nbsp; Guidelines</a>
            <a href="/receive" class="ahover ah1"><i class="fa-solid fa-bell-concierge"></i>&nbsp;&nbsp; Restaurants Feed</a>
            <a href="/" class="ahover ah1"><i class="fa-solid fa-house"></i>&nbsp;&nbsp; Home</a>
        </div>
    </header>

    <div class="first-page-donor">
        <h1 class="third-tit">Receiver Details</h1>
        <div class="details">
            <form action="/submit/<%= donorId %>" method="post">
                <table>
                    <tr>
                        <td><label for="ngoName">Name of NGO/Volunteer</label></td>
                        <td><input type="text" name="ngoName" id="rest-name" required="true"></td>
                    </tr>
                    <tr>
                        <td><label for="ngoAddress">Address of NGO/Volunteer </label></td>
                        <td><textarea name="ngoAddress" id="rest-add" required="true"></textarea></td>
                    </tr>
                    <tr>
                        <td><label for="hotel-name">Contact Number NGO/Volunteer</label></td>
                        <td><input type="text" name="ngoPhoneNumber" id="rest-contact" required="true"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel-name">Expected Time of Pick-Up </label></td>
                        <td><input type="time" name="pickupTime" id="rest-time" required="true"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel-name">Area of Food Distribution</label></td>
                        <td><input type="text" name="distributionArea" id="rest-area" required="true"></td>
                    </tr>
                    <tr>
                        <td><label for="hotel-name">Aadhaar Card Number</label></td>
                        <td><input type="text" name="aadharCard" id="rest-site" required="true"></td>
                    </tr>
                </table>
                <button class="sub">Submit</button>
            </form>
        </div>
        
    </div>

    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script src="https://mediafiles.botpress.cloud/74c27236-3b14-45b0-9581-0bb30f2f63d9/webchat/config.js"
        defer></script>
</body>

</html>