<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/css/thankyou.css">
</head>

<body>
    <header class="header">
        <div class="logo">Annapurna</div>

    </header>

    <div class="first-page-thanks-donor">
        <h1 class="thanks-title">Thank You!<br> Your Details Have Been Successfully Accepted!<br>Please collect the food on time!</h1>
        <h2 class="thanks-subt">Thank you for ensuring that no one sleeps hungry, your efforts are truly inspiring!</h2>
        <div class="a-tag">
            <a href="receive" class="ahover ah1"><i class="fa-solid fa-bell-concierge"></i>&nbsp;&nbsp; Receiver Status</a>
            <a href="/" class="ahover ah1"><i class="fa-solid fa-house"></i>&nbsp;&nbsp; Home</a>
        </div>
    </div>
</body>
</html>