<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="css/thankyou.css">
</head>

<body>
    <header class="header">
        <div class="logo">Annapurna</div>

    </header>

    <div class="first-page-thanks-donor">
        <h1 class="thanks-title">Thank You!<br> Your Donation Has Been Successfully Accepted!</h1>
        <h2 class="thanks-subt">Your donation nourishes not just bodies, but hearts, dreams and hopes!</h2>
        <div class="a-tag">
            <a href="receive" class="ahover ah1"><i class="fa-solid fa-bell-concierge"></i>&nbsp;&nbsp; Donation Status</a>
            <a href="/" class="ahover ah1"><i class="fa-solid fa-house"></i>&nbsp;&nbsp; Home</a>
        </div>
    </div>

    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script src="https://mediafiles.botpress.cloud/74c27236-3b14-45b0-9581-0bb30f2f63d9/webchat/config.js"
        defer></script>
</body>
</html>

