@font-face {
    font-family: rochester;
    src: url(../fonts/Rochester-Regular.ttf);
}

@font-face {
    font-family: noto;
    src: url(../fonts/NotoSerifDisplay-VariableFont_wdth,wght.ttf);
}

@font-face {
    font-family: metrophobic;
    src: url(../fonts/Metrophobic-Regular.ttf);
}

@font-face {
    font-family: magical;
    src: url(../fonts/MagicalSource.ttf);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background-color: #285430;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 6vh;
    align-items: center;
    padding: 1rem 3rem;
    z-index: 100;
    color: aliceblue;
    font-size: 1.1rem;
    font-family: metrophobic;
}

.header-contents {
    display: flex;
    flex-direction: row;
    transform: translateX(-6.5rem);
    column-gap: 3rem;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.ahover {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 65%;
}

.ah1:hover{
    opacity: 100%;
    color: #FCDC2A;
    font-weight: 600;
}

.logo {
    font-size: 1.2rem;
    color: #FCDC2A;
}

.list-mega{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    row-gap: 2rem;
    padding: 4rem 0rem;
}

.list-title{
    font-weight: 400;
    font-family: magical;
    font-size: 3rem;
    color: #FCDC2A;
}

.hotels-list{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    width: fit-content;
    height: fit-content;
}

.book-food{
    height: 2rem;
    width: 24rem;
    font-family: metrophobic;
    border-radius: 0.25rem;
    font-size: 1rem;
    border: none;
    font-weight: 900;
    background-color: #E8DFCA;
    color: #285430;
    align-self: center;
    transform: translateY(0.3rem);
}

.book-food:hover {
    cursor: pointer;
    background-color: #F3EEEA;
    color: #285430 ;
}

.hotel{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 40vh;
    padding: 1rem;
    border-radius: 1rem;
    justify-content: center;
    row-gap: 0.27rem;
}

.avail{
    background-color: #1A4D2E;
    border: solid 0.08rem #FCDC2A;
    color: aliceblue;
}

.booked{
    color: #000000;
    background-color: #FCDC2A;
}

.hitem{
    font-family: metrophobic;
    font-size: 1.18rem;
}

.h{
    font-weight: 800;
    color: #FCDC2A;
}

.h-b{
    font-weight: 800;
    color: #481E14;
}